h1{
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
}
p{
    color: #333;
    font-size: 18px;
}
#result{
    color: #333;
    font-size: 24px;
    text-align: center;
    font-family: Arial, sans-serif;
}
/* label */
label {
    display: inline-block; /* 或 block，根据布局需求 */
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333; /* 深灰色，提高对比度 */
    line-height: 1.5;
    margin-bottom: 5px; /* 为输入框留出空间 */
}

#workspace{
    width: 600px;
    height: 300px;
    position: relative;
    border: 2px solid black;
}
canvas {
position: absolute;
}
#arms {
z-index: 3;
}
#workpiece {
z-index: 2;
}
#background {
z-index: 1;
}

.container {
    display: flex;
    /* align-items: center; 使项目在垂直方向居中 */
}
.canvas-wrapper {
    display: inline-block; /* 或 flex, 以保持与文字对齐 */
    height: 300px;
    width: 600px;
}
.text-content {
    margin-left: 20px; /* 根据需要调整这个值，例如20px、1rem等 */
    flex-grow: 1; /* 允许容器在可用空间中增长 */
    flex-shrink: 1; /* 允许容器在空间不足时缩小 */
    flex-basis: 0; /* 初始大小为0，根据内容和其它因素决定大小 */
}
.result-block {
    /* 占父块的百分之50 */
    width: 100%;
    height: 40%;
}
/* button */
/* 玻璃按钮基础样式 */
.glass-button {
    display: inline-block;
    padding: 4px 18px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background: #F9F871; 
    backdrop-filter: blur(8px); /* 背景模糊，模拟玻璃质感 */
    color: #5E8DC2;
    border: 1px solid rgba(255, 255, 255, 0.3); /* 轻微的边框增强轮廓 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 清晰的阴影 */
    transition: all 0.3s ease;
}

/* 鼠标悬停时的样式变化 */
.glass-button:hover {
    background: rgba(255, 255, 255, 0.25); /* 更加透明，强调交互 */
    border-color: rgba(255, 255, 255, 0.6); /* 边框颜色稍亮 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* 加深阴影 */
    transform: translateY(-2px); /* 微微上移 */
    cursor: pointer;
}
/* select */
select {
    /* 设置宽度 */
    width: 100px;
    
    /* 内边距 */
    padding: 5px;
    
    /* 边框 */
    border: 1px solid #ccc;
    
    /* 文字颜色 */
    color: #333;
    
    /* 字体 */
    font-family: Arial, sans-serif;
    
    /* 背景颜色 */
    background-color: #fff;
    
    /* 圆角 */
    border-radius: 4px;
    text-align: center; /* 尝试居中，尽管在某些浏览器中可能无效 */
}