<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link  type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="./static/scripts/main.js" defer></script>
    <title>AI3705-2024</title>
  </head>
  <body >
    <div id="data_container" d="{{ lines  }}" state ='{{ state}}'></div>
    <h1 >AI3705-2024 工件分拣系统</h1>
    <p>这个网页展示了我们大作业的成果. 我们的代码可以在<a href="https://github.com/yc7421cmd/AI3705-2024/tree/bowen"
        > 这里 </a>找到。</p>
    <br><br>
    <form action="/update" method="get">
      <label for="color">请选择要放入工件的颜色：</label>
      <select id="color" name="user_color">
        <option value="red">红色</option>
        <option value="metallic">金属色</option>
        <option value="black">黑色</option>
      </select>
      <button class='glass-button' type="submit" id="add_button" >添加工件</button>
    </form>
    <br>
    <div class="container">
      <div id = 'workspace' class="canvas-wrapper">
        <canvas id="background" width="600" height="300"></canvas>
        <canvas id="workpiece" width="600" height="300"></canvas>
        <canvas id="arms" width="600" height="300"></canvas>
      </div>
      <div class="text-content">
        <div class="result-block">
          <label calss="result-label">正在执行的命令：</label>
          <p id="command-line"></p>
        </div>
        <div class="result-block">
          <label calss="result-label" >最终工件进入的滑槽：</label>
          <p id="result"></p>
        </div>
      </div>
    </div>
    <br>
    <button class='glass-button' id="start">开始</button>
    <button class='glass-button' id="reset">重置</button>
    <br>
    
  </body>
</html>
